<div class="display">
  <div class="display__title"><%= title %></div>
  <div class="add-item">
    <a href="" class="add-item__link">Add Pokemon</a>
  </div>
  <div class="display__items">
    <div class="display__items-titles">
      <% keys.forEach((key) => { %>
      <div class="display__items-title"><%= key %></div>
      <% }); %>
    </div>
    <% pokemons.forEach((pokemon) => { %>
    <div class="display__items-table">
      <div class="display__items-table--item"><%= pokemon.id %></div>
      <div class="display__items-table--item"><%= pokemon.pokemon_name %></div>
      <div class="display__items-table--item"><%= pokemon.trainer %></div>
      <div class="display__items-table--item"><%= pokemon.type_name %></div>
      <div class="display__items-table--item display__items-table--action">
        <a href="" class="display__items-table--item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>delete</title>
            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
          </svg>
        </a>
        <a href="" class="display__items-table--item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>pencil</title>
            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
          </svg>
        </a>
      </div>
    </div>
    <% }); %>
  </div>
</div>